/.env
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/WBPriceTrackerBot.iml
/telgb.db
/log_dir/logi.log
/tb.db
